<template>
  <view>
    <text> Cel 72390001  </text>
    <text> jameszambranachacon@gmail.com  </text>
  </view>
</template>

 


<style>
    .efecto1{
        background-color: rgb(5, 63, 73);
    }

</style>