<template>
  <text class="efecto1"> {{item.id}}. {{item.text}} </text>
</template>

 

<script>
export default {
  props: {
    item: {
      Type: Object
    }
  }
};
</script>

<style>
    .efecto1{
        background-color: rgb(5, 63, 73);
    }

</style>