<template>
  <app-navigator></app-navigator>
</template>


<script>
  import {
    createAppContainer,
    createBottomTabNavigator,
    createMaterialTopTabNavigator,
    createStackNavigator,
    createDrawerNavigator
  } from "vue-native-router";

  import ContactoVista from "./vistas/VistaContacto.vue";
  import InicioVista from "./vistas/VistaInicio.vue";
  import EcuacionVista from "./vistas/EcuacionVista.vue";
  
  
  const DrawerNavigator = createDrawerNavigator(
    {
      Inicio: InicioVista,          
      Ecuación: EcuacionVista,      
      Contacto: ContactoVista,      
    },
    {
      initialRouteName: 'Inicio'
    }
  );

  const StackNavigator = createStackNavigator(
    { 
      Drawer: DrawerNavigator,      
    }
  );

  const AppNavigator = createAppContainer(StackNavigator);

  export default {
    components: { AppNavigator }
  }
</script>