<template>
  <view class="container">
        <text>Introduzca los siguientes datos:</text>
        <text>a</text>
        <text-input class="caja1"
            v-model="a"
            type="number"
        />
        <text>b</text>
        <text-input class="caja1"
            v-model="b"
        />
        <text>b</text>
        <text-input class="caja1"
            v-model="c"
        />        
        <text>Ecuación: {{a}}x&#8743;2+{{b}}x+{{c}}=0 </text>
        <text>Discriminante: D={{discriminante}} </text>
        <view class="resaltar">
            <text>Raiz 1: x1={{raiz1}} </text>
            <text>Raiz 2: x2={{raiz2}} </text>
        </view>



  </view>
</template>

<script>

export default {
  props: {
    navigation: { type: Object }
  },
  data: function() {
    return {
      a:0,
      b:0,
      c:0,
      d:0,      
    };
  },
  methods: {
    handleBtnPress: function() {
      alert('Btn Press');
    }
  },
  computed: {    
    discriminante: function () {
      return (Math.sqrt(this.b*this.b-(4*this.a*this.c))).toFixed(2);
    },
    raiz1: function () {      
      return ((-parseFloat(this.b)- parseFloat(this.discriminante))/(2*this.a)).toFixed(2);
    },
    raiz2: function () {
      return ((-parseFloat(this.b)+ parseFloat(this.discriminante))/(2*this.a)).toFixed(2);
    },

  }
}
</script>


<style>
    .resaltar {
        background-color:yellow;
    }
    .container {
        align-items: center;            /*centrado a los costados*/        
        /*justify-content: center;      /*centrado de arriba abajo*/        
        flex: 1;
        padding: 30px;
    }
    .caja1 {                  
        height:40;
        width:50%;
        border-Color: rgb(19, 6, 133);
        border-Width: 3;    
        margin: 10px
    }

</style>