<template>
  <view class="container">

    <image class="estilo_imagen"
      :source="{uri: 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Ecuaci%C3%B3n_cuadr%C3%A1tica.svg/1200px-Ecuaci%C3%B3n_cuadr%C3%A1tica.svg.png'}"
    />
    
    <button title="Ingresar" @press="goToHomeScreen"></button>
  </view>
</template>

<script>
export default {
  props: {
    navigation: { type: Object }
  },
  methods: {
    goToHomeScreen() {
      this.navigation.navigate("Ecuación");
    }
  }
}
</script>

<style>
.container {
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;  
}
.estilo_imagen{
  width: 70%;
  height: 60%;
  margin: 20px;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  color: darkolivegreen;
  margin: 20px;
}
.text {
  text-align: center;
  margin: 10px;
}
</style>